/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #181818;
  --secondary-color: #2d2d2d;
  --accent-color: #6453ff;
  --text-color: #fdfdfa;
  --button-alert-color: #ba0621;

  --title-font: 'Manrope Semibold';
  --text-font: 'Manrope';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: var(--text-font);
}

body {
    font-size: 1vw;
    background-color: var(--primary-color);
    color: var(--text-color);
}

h1 {
    font-size: clamp(1.9rem,  4.5vw, 3.5rem);
}

h2 {
    font-size: clamp(1.6rem,   3.2vw, 2.8rem);
}

h3 {
    font-size: clamp(1.25rem,  2.2vw, 2rem);
}

p, a {
    font-size: clamp(1.25rem,  1.1vw, 1.5rem);
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Manrope Semibold';
    src: url('/assets/fonts/Manrope-SemiBold.ttf');
    font-weight: 600;
}