.login {
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 2rem;
}

.login-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: var(--secondary-color);
    padding: 5rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.input-login {
    width: 20rem;
}

.btn-login {
    margin-top: 1rem;
    background-color: var(--accent-color);
    color: var(--text-color) !important;
}